body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Changed the background color to a light gray */
    line-height: 1.6;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

#postsContainer {
    margin-top: 20px;
}

.post {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #fff;
}

.post-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.post-link {
    color: #007BFF;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.post-link:hover {
    text-decoration: underline;
}

.post-thumbnail {
    display: block;
    margin: 10px auto;
}

.post-thumbnail img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.post-details {
    font-size: 14px;
    color: #777;
}

.post-details span {
    margin-right: 10px;
}

.post-score {
    color: #007BFF;
    font-weight: bold;
}

.post-comments {
    color: #007BFF;
}

.error-message {
    color: #ff0000;
    text-align: center;
}
